<div class="container text-center">
    <h2>About Page</h2>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis necessitatibus ab sunt minus, modi totam sed esse veniam illum. Doloribus nihil sint facere obcaecati, tempora fuga! Nobis, omnis, quam.</p>
</div>